/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.deps.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.exe
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.runtimeconfig.dev.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.runtimeconfig.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/appsettings.Development.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/appsettings.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.dgspec.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.g.props
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.g.targets
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.AssemblyInfo.cs
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.AssemblyInfoInputs.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.MvcApplicationPartsAssemblyInfo.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.RazorTargetAssemblyInfo.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.assets.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.csproj.FileListAbsolute.txt
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.csprojAssemblyReference.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.exe
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/staticwebassets/AfarSoftCoreFramework.StaticWebAssets.Manifest.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/staticwebassets/AfarSoftCoreFramework.StaticWebAssets.xml
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/project.assets.json
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/DesignTimeBuild/.dtbcache
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/config/applicationhost.config
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/.suo
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/Server/sqlite3/db.lock
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/Server/sqlite3/storage.ide
