/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.deps.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.exe
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.runtimeconfig.dev.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.runtimeconfig.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/appsettings.Development.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/appsettings.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.dgspec.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.g.props
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/AfarSoftCoreFramework.csproj.nuget.g.targets
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.AssemblyInfo.cs
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.AssemblyInfoInputs.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.MvcApplicationPartsAssemblyInfo.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.RazorTargetAssemblyInfo.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.assets.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.csproj.FileListAbsolute.txt
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.csprojAssemblyReference.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.exe
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/staticwebassets/AfarSoftCoreFramework.StaticWebAssets.Manifest.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/staticwebassets/AfarSoftCoreFramework.StaticWebAssets.xml
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/project.assets.json
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/DesignTimeBuild/.dtbcache
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/config/applicationhost.config
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/.suo
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/Server/sqlite3/db.lock
/AfarSoftCoreFramework/.vs/AfarSoftCoreFramework/v16/Server/sqlite3/storage.ide
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.deps.json
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/AfarSoftCoreFramework.Entity.csproj.nuget.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/AfarSoftCoreFramework.Entity.csproj.nuget.dgspec.json
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/AfarSoftCoreFramework.Entity.csproj.nuget.g.props
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/AfarSoftCoreFramework.Entity.csproj.nuget.g.targets
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.AssemblyInfo.cs
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.AssemblyInfoInputs.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.assets.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.csproj.FileListAbsolute.txt
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.csprojAssemblyReference.cache
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework.Entity/obj/project.assets.json
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/AfarSoftCoreFramework.Entity.pdb
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/MySqlConnector.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.Design.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.MvcApplicationPartsAssemblyInfo.cs
/AfarSoftCoreFramework/AfarSoftCoreFramework/obj/Debug/netcoreapp3.1/AfarSoftCoreFramework.csproj.CopyComplete
